In [1]:
import numpy as np
import pandas as pd
import pandas_profiling as pp
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(context="notebook", style="darkgrid")
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

from sklearn.impute import KNNImputer

/Users/zhoujianyao/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/zhoujianyao/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/zhoujianyao/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
/Users/zhoujianyao/opt/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
#Loading the dataset
diabetes_data = pd.read_csv('pima-indians-diabetes.csv')
diabetes_data.columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 
                        'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
diabetes_data_copy = diabetes_data.copy(deep=True)
diabetes_data_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']] = diabetes_data_copy[['Glucose','BloodPressure','SkinThickness','Insulin','BMI']].replace(0, np.NaN)

print(diabetes_data_copy.isnull().sum())

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [6]:
null_index = diabetes_data_copy.loc[diabetes_data_copy['BloodPressure'].isnull(), :].index
null_index

Int64Index([  7,  15,  49,  60,  78,  81, 172, 193, 222, 261, 266, 269, 300,
            332, 336, 347, 357, 426, 430, 435, 453, 468, 484, 494, 522, 533,
            535, 589, 601, 604, 619, 643, 697, 703, 706],
           dtype='int64')

In [4]:
#用DiabetesPedigreeFunction与Age对BloodPressure进行KNNImputer插补缺失值
imputer = KNNImputer(n_neighbors=10)

In [7]:
diabetes_data_copy[['BloodPressure', 'DiabetesPedigreeFunction', 'Age']] = imputer.fit_transform(diabetes_data_copy[['BloodPressure', 'DiabetesPedigreeFunction', 'Age']])

In [8]:
print(diabetes_data_copy.isnull().sum())

Pregnancies                   0
Glucose                       5
BloodPressure                 0
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [9]:
diabetes_data_copy.iloc[null_index]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
7,10,115.0,71.1,NaN,NaN,35.3,0.134,29.0,0
15,7,100.0,72.5,NaN,NaN,30.0,0.484,32.0,1
49,7,105.0,69.1,NaN,NaN,NaN,0.305,24.0,0
60,2,84.0,74.9,NaN,NaN,NaN,0.304,21.0,0
78,0,131.0,76.6,NaN,NaN,43.2,0.270,26.0,1
81,2,74.0,63.6,NaN,NaN,NaN,0.102,22.0,0
172,2,87.0,65.6,23.0,NaN,28.9,0.773,25.0,0
193,11,135.0,75.2,NaN,NaN,52.3,0.578,40.0,1
222,7,119.0,77.0,NaN,NaN,25.2,0.209,37.0,0
261,3,141.0,75.9,NaN,NaN,30.0,0.761,27.0,1
266,0,138.0,64.6,NaN,NaN,36.3,0.933,25.0,1
269,2,146.0,77.6,NaN,NaN,27.5,0.240,28.0,1
300,0,167.0,64.6,NaN,NaN,32.3,0.839,30.0,1
332,1,180.0,72.9,NaN,NaN,43.3,0.282,41.0,1
336,0,117.0,82.6,NaN,NaN,33.8,0.932,44.0,0
347,3,116.0,71.6,NaN,NaN,23.5,0.187,23.0,0
357,13,129.0,78.0,30.0,NaN,39.9,0.569,44.0,1
426,0,94.0,61.8,NaN,NaN,NaN,0.256,25.0,0
430,2,99.0,71.6,NaN,NaN,22.2,0.108,23.0,0
435,0,141.0,71.1,NaN,NaN,42.4,0.205,29.0,1
453,2,119.0,80.0,NaN,NaN,19.6,0.832,72.0,0
468,8,120.0,74.8,NaN,NaN,30.0,0.183,38.0,1
484,0,145.0,72.9,NaN,NaN,44.2,0.630,31.0,1
494,3,80.0,59.0,NaN,NaN,NaN,0.174,22.0,0
522,6,114.0,74.0,NaN,NaN,NaN,0.189,26.0,0
533,6,91.0,74.1,NaN,NaN,29.8,0.501,31.0,0
535,4,132.0,64.2,NaN,NaN,32.9,0.302,23.0,1
589,0,73.0,63.0,NaN,NaN,21.1,0.342,25.0,0
601,6,96.0,78.2,NaN,NaN,23.7,0.190,28.0,0
604,4,183.0,75.6,NaN,NaN,28.4,0.212,36.0,1
619,0,119.0,68.2,NaN,NaN,32.4,0.141,24.0,1
643,4,90.0,72.9,NaN,NaN,28.0,0.610,31.0,0
697,0,99.0,67.9,NaN,NaN,25.0,0.253,22.0,0
703,2,129.0,72.9,NaN,NaN,38.5,0.304,41.0,0
706,10,115.0,76.6,NaN,NaN,NaN,0.261,30.0,1

In [10]:
data = [[2, 4, 8], 
        [3, np.nan, 7], 
        [5, 8, 3], 
        [4, 3, 8]]

In [11]:
imputer = KNNImputer(n_neighbors=1)

In [12]:
imputer.fit_transform(data)

array([[2., 4., 8.],
       [3., 4., 7.],
       [5., 8., 3.],
       [4., 3., 8.]])

In [13]:
imputer = KNNImputer(n_neighbors=2)

In [14]:
imputer.fit_transform(data)

array([[2. , 4. , 8. ],
       [3. , 3.5, 7. ],
       [5. , 8. , 3. ],
       [4. , 3. , 8. ]])